html {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to top, #cdd7ddb0, #cdd7dd70),
		url(./assets/background.jpeg) repeat top center;
	background-attachment: fixed;
	background-color: #cdd7dd;
	color: #cdd7dd;
	padding: 0;
	color: black;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80vw;
	max-width: 1500px;
	margin: 2rem;
}

h1 {
	align-self: center;
	font-family: 'Rubik 80s Fade';
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	margin: 1rem 0 0 0;
}

h2 {
	align-self: flex-start;
	font-family: 'Kanit';
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	margin-top: 1rem;
}

h2.project-title {
	margin: 0;
	color: #dddddd;
	border: 1px solid #999999;
	border-radius: 10px;
	padding: 0 10px;
	flex-wrap: nowrap;
	white-space: nowrap;
}

h2.project-title a {
	text-decoration: none;
	color: #dddddd;
}

h2.project-title a:visited {
	color: #dddddd;
}

h3 {
	font-family: 'Kanit';
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	margin: 0.5rem 0 0 0;
}

p {
	font-family: 'Kanit';
	font-size: 16px;
	font-weight: 200;
	text-align: left;
	margin: 0;
}

p a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

p img {
	height: 25px;
	width: auto;
	object-fit: contain;
	margin: 5px;
}

a {
	color: rgb(84, 94, 229);
}

.attribute-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: stretch;
	min-width: 250px;
	max-width: 400px;
}

.attribute-container a {
	text-decoration: none;
	color: #000;
}

.attribute-container a:visited {
	color: #000;
}

.experience-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.main-column {
	display: flex;
	flex-direction: column;
	align-items: center;

	flex: 1;

	margin: 0 2rem;
	max-width: 800px;
}

.info-bar {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	flex: 1;

	min-width: 300px;
	max-width: 300px;
	margin: 0;
	padding: 10px 5px;

	border-radius: 10px;
	background-color: #cdd7dd;
	border: 2px solid black;
	font-weight: bold;
	color: black;
	box-shadow: 3px 4px 0px 1px black;
}

.project-container {
	display: flex;
	flex-direction: column;

	margin-bottom: 2rem;
	overflow: hidden;

	border-radius: 10px;
	background-color: #cdd7dd;
	border: 2px solid black;
	font-weight: bold;
	color: black;
	box-shadow: 3px 4px 0px 1px black;
}

.project-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #5c5c5c;
	padding: 5px;
}

.project-header .dummy-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 105px;
}

.project-header .dummy-button {
	border-radius: 10px;
	height: 10px;
	width: 10px;
	margin: 5px;
}

.project-header img {
	height: 25px;
	object-fit: contain;
	margin: 0 5px;
}

.project-body {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.project-body a {
	display: inline-flex;
}

.project-img img {
	width: calc(100% + 10px);
	margin: -5px;
}

.project-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.profile-header-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}

.profile-image-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.profile-links {
	display: flex;
	justify-content: space-around;
}

.profile-header-container .attribute-container {
	margin-left: 5px;
	max-width: 183px;
	min-width: 183px;
}

.profile-img-div {
	width: 100px;
	height: 100px;
	margin: 10px 5px;
	border-radius: 50px;
	background-image: url(./assets/IMG_0793.webp);
	background-size: 100px;
	border: 1px solid black;
	font-weight: bold;
	color: black;
	box-shadow: 2px 3px 0px 1px black;
}

.more-button {
	background-color: orange;
	border-radius: 10px;
	border: 1px solid black;
	font-weight: bold;
	color: black;
	box-shadow: 2px 3px 0px 1px black;
}

.more-button:active {
	box-shadow: none;
	transform: translate(2px, 3px);
}

.logo-container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	gap: 10px;
}

.logo-container img {
	align-self: center;
	justify-self: center;
	width: 50px;
	overflow: hidden;
}

.logo-container div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
}

.logo-container p {
	text-align: center;
	margin-top: 5px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	box-shadow: 2px 3px 0px 1px black;
}

@media only screen and (max-width: 1350px) {
	.container {
		flex-direction: column;
		align-items: stretch;
	}

	.main-column {
		margin: 2rem 0;
		max-width: 100%;
	}

	.info-bar {
		align-items: stretch;
		max-width: 100%;
	}

	.experience-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.attribute-container {
		margin: 0 5px;
	}

	.profile-header-container .bio {
		padding-left: 5px;
		min-width: 350px;
		flex: 1;
		border-left: 2px solid black;
	}
}
